:root {
  --white: #ffffff;
  --black: #000000;
  --active: #2196F3;
  --primary-text: #212121;
  --secondary-text: #757575;
  --gray-bgc: #f5f4fa;
  --background-dark:#2F303A;
  --ctcs: rgba(255, 255, 255, 0.6);
  --port-line: #ececec;
  --decoration-color: #afb1b8;
  
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  position: relative;
  color: var(--primary-text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none
}

.flexbox {
  display: flex;
}

/* Navigation*/
.site-navigation .link.underline {
	color: var(--active);
}

.site-navigation .link.underline::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
		width: 100%;
		height: 4px;
	margin-top: 28px;
	margin-bottom: -1px;
	background-color: var(--active);
	border-radius: 2px;
}

.navigation,
.site-navigation, 
.list,
.ctcs {
	display: flex;
  align-items: center;
}

.ctcs .link{
	display: inline-flex;
  align-items: center;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  justify-content: space-between; 
}
  
.site-navigation .link {
  color:var(--primary-text);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
	display: block;
	padding: 32px 0 32px;
  font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.site-navigation .item:not(:last-child),
.ctcs .item:not(:last-child) {
  margin-right: 50px;}

.site-navigation .item {
  position: relative;
}
  
  .ctcs .icon {
    margin-right: 10px;
    fill: currentColor;
  }
  
  .ctcs .icon-phone {
    width: 10px;
    height: 15px;
  }
  
  .ctcs .icon-mail {
    width: 16px;
    height: 12px;
  }
  
.ctcs .link:hover .icon,
.ctcs .link:focus .icon {
  fill: var(--active);
  cursor: pointer;}

/* logo*/

.logo {
color:var(--active);
}

.logo-header {
color: var(--black);
text-decoration: none;
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 700; 
font-size: 26px;
line-height: 1.19;
padding-right: 93px;
}

.logo:hover,
.logo:focus {
color: var(--active);
}

.list 
{font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

/*address*/
.link {
color:var(--secondary-text);
font-weight: 500;
font-size: 14px;
font-style: normal;
}

.link:hover,
.link:focus {
color: var(--active);
}

/*Main*/

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding:0 15px;
}

.effective-desisions {
	height: 600px;
  max-width: 1600px;
  margin-left: auto;
	margin-right: auto;
  text-align: center;
  background: var(--background-dark);
  background-image: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  ), url(../img/bg.jpg);
  }

.hero-container {
	max-width: 696px;
	margin: auto }

.effective-title {
	display: inline-block;
	margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 42px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  }

/*button*/
.button {
  color: var(--white);
  background-color: var(--active);
	border: 1px solid var(--active);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  margin: auto;
  padding: 10px 32px;
  cursor: pointer;
}

.dropbox {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(0, 0, 0, 0.2);
}
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	padding: 40px;
	font-size: 12px;
	line-height: 1.16;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: var(--white);
}
.modal .close-btn {
	position: absolute;
	right: 8px;
	top: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid var(--decoration-color);
	background-color: var(--white);
}
.close-btn .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11px;
	height: 11px;
}
.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.is-hidden .modal {
	transform: translate(-50%, 100%);
}

.modal-title {
	margin-top: 0;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--primary-text);
}

.modal-body {
	flex-direction: column;
}

.modal-body p {
	display: inline-block;
}

.modal-body .modal-input {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.buttons {
  color: var(--primary-text);
  background-color: var(--gray-bgc);
  border-color: var(--gray-bgc);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.buttons:hover {
background-color: var(--active);
color: var(--white);
}
.buttons:focus{
color:var(--white)
}

/*advantages*/
.advantages {
padding: 94px 0 94px;}
  
.advantages-list {
display: flex;
}

.advantages-list .item {
width: 270px;
}

.advantages-list .item:not(:last-child){
margin-right: 30px;
}

.advantages-list p {margin: 0 0;}

.advantages-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
margin: 0 0 10px;
}

.advantages-text {
color: var(--secondary-text);
font-size: 14px;
line-height: 1.71;
}

.advantages-list .item::before {
  content: "";
  display: block;
  height: 120px;
  background: var(--gray-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  }

.item.icon-attention::before {
background-image: url(../img/antenna.png);
}

.item.icon-clock::before {
background-image: url(../img/clock.png);}

.item.icon-plan::before {
background-image: url(../img/plans.png);}

.item.icon-cosmic::before {
  background-image: url(../img/cosmic.png);}

/*what we do*/
.service {
padding-bottom: 94px;}

.service-text {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 27px;
	padding-top: 27px;
	width: 100%;
	font-size: 16px;
	line-height: 1.14;
	color: var(--white);
	text-align: center;
	text-transform: uppercase;
	background: rgba(47, 48, 58, 0.8);
}

.service .list {
  font-size: 0;
  display: flex;
}
.service .item {
	position: relative;
}
  
.service-title {
color: var(--primary-text);
margin: 0 0 50px;
font-size: 36px;
line-height: 1.16;
text-align: center;
}

.item:not(:last-child) {
margin-right: 30px;}

/*Team*/
.our-team {
background-color: var(--gray-bgc);
padding: 94px 0 94px;
font-size: 16px;
}

.our-team .list {
display: flex;}

.item:not(:last-child)
{margin-right: 30px;}

.our-team .item
{display: flex;
flex-direction: column;
align-items: center;
background-color:var(--white);
box-shadow: 
0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;}
  
.team-title {
margin: 0 0 50px;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--primary-text)}

.inner {
padding-top: 30px;
padding-bottom: 30px;
}

.team-name {
line-height: 1.18;
color: var(--primary-text);
justify-content: center;
margin-bottom: 10px;
}

.function {
color: var(--secondary-text);
font-weight: 400;
font-size: 16px;
line-height: 1.18;
justify-content: center;
display: flex;
margin-bottom: 16px;
}

.social li {
	margin-right: 10px;
}

.social li:last-child {
	margin-right: 0;
}

.social .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-repeat: no-repeat;
  background-position: center;
}

.our-team .icon {
	width: 20px;
	height: 20px;
	fill: var(--decoration-color);
}

.our-team .link:hover .icon,
.team .link:focus .icon {
	fill: var(--white);
}

.social .link:hover,
.social .link:focus {
  background-color: var(--active);}
  
/*        Clients        */

.clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients .list {
	display: flex;
}

.clients-title {
	margin-top: 0;
	margin-bottom: 50px;

	color: var(--primary-text);
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.clients .item {
	margin-right: 30px;
}

.clients .item:last-child {
	margin-right: 0;
}

.clients .link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 90px;

	border: 1px solid var(--decoration-color);
  border-radius: 4px;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover,
.clients .link:focus {
	border-color: var(--active);
}

.clients .icon {
  fill: var(--decoration-color);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link:hover .icon,
.clients .link:focus .icon {
	fill: var(--active);
}

.clients .item:nth-child(1) .icon {
	width: 44px;
	height: 49px;
}

.clients .item:nth-child(2) .icon {
	width: 40px;
	height: 52px;
}

.clients .item:nth-child(3) .icon {
	width: 41px;
	height: 42px;
}

.clients .item:nth-child(4) .icon {
	width: 79px;
	height: 42px;
}

.clients .item:nth-child(5) .icon {
	width: 59px;
	height: 47px;
}

.clients .item:nth-child(6) .icon {
	width: 88px;
	height: 45px;
}

/*footer*/

.footer {
background-color:var(--background-dark);
padding-top: 60px;
padding-bottom: 60px;
color: rgba(255, 255, 255, 0.6)
}

.footer .header {
	margin-bottom: 20px;}

.footer-address .link
{display: block;
font-style: normal;
color: inherit;
}

.address {
color: var(--white);
font-size: 14px;
line-height: 1.71;
font-style: normal;
}

.address .link:hover,
.address .link:focus {
color: var(--active);
cursor: pointer;
}

.address .contacts {color:var(--ctcs);
}

.address a:not(:last-child) {
  margin-bottom: 9px;
}

.street {margin-top: 20px;}

.footer .logo-header {
  color: var(--white);
}

.footer-address {
  margin-right: 70px;
}

.footer .container {
  display: flex;
}

/*       Join       */

.join .social {
	display: flex;
}

.join .link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  	transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.join .item {
	margin-right: 10px;
}

.join .item:last-child {
	margin-right: 0;
}

.join-title {
	margin-top: 12px;
	margin-bottom: 20px;
	color: var(--white);
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
}

.join .icon {
	width: 20px;
	height: 20px;
	fill: var(--white);
}

/*porfolio*/

.examples {
	padding: 94px 0 94px;
  border-top: 1px solid var(--port-line);
}

.nav-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.nav-list .buttons {
    color: var(--primary-text);
    background-color: var(--gray-bgc);
    border-color: var(--gray-bgc);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    align-items: center;
    display: block;
    padding: 6px 22px;
    text-decoration: none;
}

.nav-list .item:not(:last-child) {
	margin-right: 8px;
}

.nav-list .buttons:hover,
.nav-list .buttons:focus {
  color: var(--white);
  background-color:var(--active);
  box-shadow: 
   0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 1px 2px rgba(0, 0, 0, 0.08), 
   0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.examples-list li {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;

	background-color: var(--white);
  border: 1px solid var(--gray-bgc);
}

.examples .item {
	position: relative;
}

.examples .examples-textbox {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 294px;
	overflow: hidden;
}

.examples .examples-text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	color: var(--white);
	background: rgba(33, 150, 243, 0.9);
	transform: translate(0, calc(100% + 1px));
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list .item:hover,
.examples-list .item:focus {
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
	1px 4px 6px rgba(0, 0, 0, 0.16);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list .item:hover .examples-text,
.examples-list .item:focus .examples-text {
	transform: translate(0, 0%);
}

.examples p {
	margin-top: 0;
	margin-bottom: 0;}

.examples-list li:nth-child(3n) {
	margin-right: 0px;
}

.examples-list li:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}

.examples-title {
  margin: 20px 0 4px 24px;
	color: var(--primary-text);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
  letter-spacing: 0.06em;}

.examples-message {
  margin-top: 0;
	margin-bottom: 0;
	margin-left: 24px;
  padding-bottom: 20px;
  color: var(--secondary-text);
	font-size: 16px;
  line-height: 1.87;
}