.advantages {
  padding: 94px 0 94px;
}

.advantages-list {
  display: flex;
}

.advantages-list .item {
  width: 270px;
}

.advantages-list .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list p {
  margin: 0 0;
}

.advantages-title {
  margin: 0 0 10px;
  color: getColor("primary-text");
}

.advantages-text {
  @include fontParam(14px, 700, 1.71, 0.03em);
  color: getColor("secondary-text");
}

.advantages-list .item::before {
  content: "";
  display: block;
  height: 120px;
  background: getColor("gray-bgc");
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.item.icon-attention::before {
  background-image: url(../img/antenna.png);
}

.item.icon-clock::before {
  background-image: url(../img/clock.png);
}

.item.icon-plan::before {
  background-image: url(../img/plans.png);
}

.item.icon-cosmic::before {
  background-image: url(../img/cosmic.png);
}
