.effective-desisions {
  @include flexBox(start, center);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: getColor("background-dark");
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/img/bg.jpg);
  text-align: center;
  color: getColor("white");

  .hero-container {
    max-width: 726px;
    margin-right: auto;
    margin: auto;
  }

  .effective-title {
    @include fontParam(44px, 900, 1.36, 0.06em);
    display: inline-block;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .button {
    @include fontParam(16px, 700, 1.87, 0.06em);
    @include button(10px 32px, getColor("active"));
    margin: auto;
    font-family: inherit;
    color: getColor("white");
  }
}
