.dropbox {
  @include transition(opacity);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden .modal {
  transform: translate(-50%, 100%);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal {
  @extend %centeringBox;
  @include transition(transform);
  @include fontParam(12px, 400, 1.16, 0.03em);
  position: fixed;
  width: 528px;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: getColor("white");
}

.modal .close-btn {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid getColor("decoration-color");
  background-color: getColor("white");
  outline: transparent;

  .icon {
    @include svgIcon(11px, 11px, #000);
    @extend %centeringBox;
    position: absolute;
  }

  &:hover .icon,
  &:focus .icon {
    fill: getColor("active");
  }
}

.form {
  @include fontParam();
  @include flexBox(start, stretch);
  flex-direction: column;

  p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  &-title {
    @include fontParam(20px, 700, 1.15, 0.03em);
    margin-top: 0;
    text-align: center;
    color: getColor("primary-text");
  }

  &-field {
    @include fontParam(12px, 400, 1.17, 0.01em);
    position: relative;
    display: block;
    margin-bottom: 10px;
  }

  &-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding: 12px 16px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
  }

  &-input:focus {
    border: 1px solid getColor("active");
  }

  &-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: getColor("primary-text");
  }

  &-input:focus + &-icon {
    fill: getColor("active");
  }

  &-comment {
    margin-bottom: 20px;
  }

  &-textarea {
    padding-left: 16px;
    resize: none;
    height: 120px;
    overflow: auto;
  }

  &-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-label {
  @include flexBox(center, center);
  @include fontParam(14px, 400, 1.71, 0.03em);
  padding-left: 13px;
  margin: 20px 0 30px;
}

.checkbox-title::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid getColor("primary-text");
  border-radius: 2px;
  margin-right: 7px;
  display: inline-block;
  vertical-align: -11%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label .link {
  color: getColor("active");
  text-decoration: underline;
  outline-color: getColor("active");
  margin-left: 3px;
}

.checkbox:checked ~ .checkbox-title::before {
  border: 2px solid getColor("active");
  border-radius: 2px;
  background-color: getColor("active");
  background-image: url(/img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.send-btn {
  @include button(10px 55px, getColor("active"));
  @include fontParam(16px, 700, 1.87, 0.06em);
  margin: auto;
  color: getColor("white");
}
