$font-family-1: "Roboto", sans-serif;
$font-family-2: "Raleway", sans-serif;

$font-normal: 400px;
$font-medium: 500px;
$font-bold: 700px;

$font-ultra-bold: 900px;
$font-size-title: 36px;
$font-size-primary: 14px;
$font-size-links: 16px;

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Raleway";
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);
  font-style: normal;
  font-weight: 700;
}
