*::selection {
	background: transparent;
}

body {
	@include fontParam();

	position: relative;
	color: getColor("secondary-text");
	background-color: getColor("white");
	font-family: "Roboto", sans-serif;
}

picture,
img {
	display: block;
	max-width: 100%;
	height: auto;
}
