$colors: (
  "white": #ffffff,
  "black": #000000,
  "active": #2196f3,
  "primary-text": #212121,
  "secondary-text": #757575,
  "gray-bgc": #f5f4fa,
  "background-dark": #2f303a,
  "ctcs": rgba(255, 255, 255, 0.6),
  "port-line": #ececec,
  "decoration-color": #afb1b8,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap);
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: Raleway;
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap);
  font-style: normal;
  font-weight: 700;
}
